<div class="page-wrapper">
    <!-- Preloader -->
    <%= render 'shared/preloader' %>

    <!-- Main Header -->
    <%= render 'shared/main-header' %>
    <!-- End Main Header -->

    <!-- Bnner Section -->
      <section class="banner-section">
          <div class="swiper-container banner-slider">
              <div class="swiper-wrapper disabled">
                  <!-- Slide Item -->
                  <div class="swiper-slide slide-1">
                      <div class="content-outer">
                          <div class="content-box">
                              <div class="inner">
                                  <div class="text">Investisseurs et particuliers, simplifiez-vous la vie !</div>
                                  <h1>Découvrez nos offres d'ameublement qui s'incluent dans votre prêt immobilier</h1>
                                  <div class="link-box">
                                      <a href="#en-savoir-plus" data-turbolinks="false" data-wow-duration="1500ms" class="theme-btn btn-style-two light"><span>EN SAVOIR PLUS</span></a>
                                  </div>
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </section>
      <!-- End Bnner Section -->


      <!-- Process Section -->
      <section class="working-process-section bg-1" id="en-savoir-plus">
          <h1 class="big-title">L'Agenceur</h1>
          <div class="auto-container">
              <div class="sec-title text-center light">
                  <span class="sec-title-dec"></span>
                  <div class="subtitle-text">L'Agenceur Lyonnais s'occupe de tout</div>
                  <h2 class="dark">Meubler vos biens n’aura jamais été aussi simple</h2>
                  <div class="process-subtext">Que vous soyez un professionnel, un investisseur ou un particulier, l'Agenceur Lyonnais prend en charge l'intégralité de la logistique<br /> allant de la sélection du mobilier, jusqu'à l'installation finale. Elle est pas belle la vie ?</div>
              </div>
              <div class="container">
                <div class="row">
                    <div class="process-block col-lg-4 col-md-4">
                        <div class="inner-box wow fadeInLeft" data-wow-duration="1500ms">
                            <div class="icon"><%= cl_image_tag("icons/agenceur_iconePlan_de_travail_36_sljdoe") %></div>
                            <div class="content">
                                <div class="count">1<span>.</span></div>
                                <h4>Demande <br>de devis</h4>
                            </div>
                            <div class="count-text">Sélectionnez l’un des packs conçu par nos décorateurs, ou contactez-nous pour une offre sur-mesure.</div>
                        </div>
                    </div>
                    <div class="process-block col-lg-4 col-md-4">
                        <div class="inner-box">
                            <div class="icon"><%= cl_image_tag("icons/agenceur_iconePlan_de_travail_38_k7cwpi") %></div>
                            <div class="content">
                                <div class="count">2<span>.</span></div>
                                <h4>Validation <br><br></h4>
                            </div>
                            <div class="count-text">Dès validation du devis, nos équipes organisent votre commande.</div>
                        </div>
                    </div>
                    <div class="process-block col-lg-4 col-md-4">
                        <div class="inner-box wow fadeInRight" data-wow-duration="1500ms">
                            <div class="icon"><%= cl_image_tag("icons/agenceur_iconePlan_de_travail_58_csq9wy") %></div>
                            <div class="content">
                                <div class="count">3<span>.</span></div>
                                <h4>Planification <br><br></h4>
                            </div>
                            <div class="count-text">Nous vous contactons au plus vite pour fixer une date d’intervention.</div>
                        </div>
                    </div>
                </div>
                <div class="row justify-content-center">
                    <div class="col-lg-5 col-md-5 process-block">
                        <div class="inner-box wow fadeInLeft" data-wow-duration="1500ms">
                            <div class="icon"><%= cl_image_tag("icons/agenceur_iconePlan_de_travail_40_habsjv") %></div>
                            <div class="content">
                                <div class="count">4<span>.</span></div>
                                <h4>Récupération des clés <br><br></h4>
                            </div>
                            <div class="count-text">À partir de ce moment-là, laissez la magie opérer !</div>
                        </div>
                    </div>
                    <div class="col-lg-5 col-md-5 process-block">
                        <div class="inner-box">
                            <div class="icon"><%= cl_image_tag("icons/agenceur_iconePlan_de_travail_56_ztrknr") %></div>
                            <div class="content">
                                <div class="count">5<span>.</span></div>
                                <h4>Nous nous chargeons<br /> de tout !</h4>
                            </div>
                            <div class="count-text">Chargement, livraison, montage, reprise des emballages, ménage... jusqu'à la réalisation de photos pour que votre bien soit mis en valeur.</div>
                        </div>
                    </div>
                </div>
              </div>
            </div>
      </section>


      <!-- About Us Section Four -->
      <section class="about-us-section-four bg-2">
          <div class="shape-one"></div>
          <div class="auto-container">
              <div class="row">
                  <div class="col-lg-6 mt-5">
                      <div class="content wow fadeInLeft">
                          <h2 class="subtitle">Nos valeurs ajoutées</h2>
                          <div class="text">
                            <ul>
                              <li>Incluez notre offre dans votre prêt immobilier <a tabindex="0" data-toggle="popover" role="button" data-trigger="hover" data-html="true" data-content="<p>*Nos devis et factures interviennent en tant que prestation d’aménagement d’intérieur ce qui les rend finançables.</p><ul><li><strong>Etape N°1</strong> : Demandez-nous un devis afin de le soumettre à votre banque.</li><li><strong>Etape N°2</strong> : Dès acceptation, nous vous adresserons notre facture afin que vous puissiez soit nous régler, soit demander à votre banque qu’elle nous règle directement.</li></ul>"><span class="far fa-sm fa-info-circle value-info-circle"></span></a></li>
                              <li>Déduisez fiscalement notre facture de vos impôts si vous êtes Loueur Meublé Non Professionnel <a tabindex="0" data-toggle="popover" role="button" data-trigger="hover" data-html="true" data-content="<p>*Pour être Loueur Meublé Non Professionnel, votre bien immobilier doit être <strong>loué meublé (lit, canapé, etc)</strong> et vous devez <strong>déclarer cette activité auprès du Greffe correspondant à l'adresse de votre bien</strong> en optant pour le régime réel.</p><p>De cette manière, vous pourrez <strong>déduire notre facture ainsi que toutes les charges</strong> (intérêts emprunts, taxes, travaux, frais de syndic et amortissement du bien).</p>"><span class="far fa-sm fa-info-circle value-info-circle"></span></a></li>
                              <li>Gagnez du temps et de l’argent tout en conservant votre épargne #cashflow <a tabindex="0" data-toggle="popover" role="button" data-trigger="hover" data-html="true" data-content="<p>*Il ne faut pas moins de 70 heures toutes étapes confondues pour aménager un bien dans son intégralité !</p><p><span class='steps-amenagement'>Commande ▸ entreposage ▸ transport ▸ chargement ▸ livraison ▸ déchargement ▸ montage des meubles ▸ agencement ▸ décoration ▸ évacuation des déchets ▸ nettoyage.</span></p><p>Libérez-vous du temps pour d’autres investissements à réaliser, ou tout simplement passer du temps avec vos proches 🙂</p>"><span class="far fa-sm fa-info-circle value-info-circle"></span></a></li>
                            </ul>
                          </div>
                          <div class="link-btn"><a href="#nos-offres" data-turbolinks="false" class="theme-btn btn-style-two"><span>Découvrez nos offres</span></a></div>
                      </div>
                  </div>
                  <div class="col-lg-6">
                      <div class="image-block wow fadeInRight">
                          <div class="image"><%= cl_image_tag("resource/image-43_pdg16s") %></div>
                      </div>
                  </div>
              </div>
          </div>
      </section>


      <!-- Pricing section -->
      <section class="pricing-section style-two" id="nos-offres">
          <div class="auto-container">
              <div class="sec-title text-center">
                  <span class="sec-title-dec"></span>
                  <h4 class="subtitle">Nos offres</h4>
                  <h2>Nos services pour la mise en location</h2>
                  <div class="add text">Bénéficiez de nos packs clé en main comprenant tout le nécessaire obligatoire vous permettant d’être éligible à la location meublée.</div>
                  <div class="text">Nos prestations sont réalisées par nos équipes formées et expérimentées</div>
              </div>
              <div class="row">
                  <div class="col-lg-3 col-md-6 pricing-block">
                      <div class="inner-box height-box">
                          <div class="wrapper-box">
                              <div class="category">Pack étudiant</div>
                              <div class="icon"><%= cl_image_tag("icons/agenceur_iconePlan_de_travail_48_zilpkv", :transformation => { :height => 76, :crop => :fill }) %></div>
                              <div class="category flat">Studio seulement</div>
                              <div class="price-box">
                                  <div class="price"><span style="font-size: 0.8rem">À partir de</span> <strong>2 998€ HT</strong></div>
                                  <div class="text">Pack clé en main incluant tout le nécessaire pour la vie étudiante</div>
                              </div>
                              <ul class="small-ul">
                                <li class="active"><strong>Aménagement du bien</strong> <br>Mobilier de grande enseigne ainsi que tout le nécessaire pour habiter le bien dès la fin de notre prestation.<br /><br /> Profitez pleinement de votre temps libre pour aider vos étudiants dans leurs démarches d'inscription.</li>
                              </ul>
                          </div>
                          <div class="link-btn">
                            <button type="button" class="theme-btn btn-style-two modal-btn" data-toggle="modal" data-target="#modalEtudiant"><span>Notre sélection</span></button>
                            <a href="/contacts/new" data-turbolinks="false" class="theme-btn btn-style-one modal-btn mt-3"><span>Établissez votre devis gratuitement</span></a>
                          </div>
                        </div>
                  </div>
                  <div class="col-lg-3 col-md-6 pricing-block">
                      <div class="inner-box height-box">
                          <div class="wrapper-box">
                              <div class="category">Pack standard</div>
                              <div class="icon"><%= cl_image_tag("icons/agenceur_iconePlan_de_travail_52_n4mnvn", :transformation => { :height => 76, :crop => :fill }) %></div>
                              <div class="category flat">Du studio au T5</div>
                              <div class="price-box">
                                  <div class="price"><span style="font-size: 0.8rem">À partir de</span> <strong>3 687€ HT</strong></div>
                                  <div class="text">Pack clé en main incluant le nécessaire pour la location meublée, ainsi qu’une décoration élégante minimaliste</div>
                              </div>
                              <ul class="small-ul">
                                <li class="active"><strong>Aménagement du bien</strong> <br>Mobilier obligatoire pour être éligible à la location meublée<br /><br /> Nous assurons l'ensemble de la logistique, transport, déchargement, montage et évacuation des déchets.</li>
                              </ul>
                          </div>
                          <div class="link-btn">
                            <button type="button" class="theme-btn btn-style-two modal-btn" data-toggle="modal" data-target="#modalStandard"><span>Notre sélection</span></button>
                            <a href="/contacts/new" data-turbolinks="false" class="theme-btn btn-style-one modal-btn mt-3"><span>Établissez votre devis gratuitement</span></a>
                          </div>
                        </div>
                  </div>
                  <div class="col-lg-3 col-md-6 pricing-block">
                      <div class="inner-box height-box">
                          <div class="wrapper-box">
                              <div class="category">Pack confort</div>
                              <div class="icon"><%= cl_image_tag("icons/agenceur_iconePlan_de_travail_46_rzijka", :transformation => { :height => 76, :crop => :fill }) %></div>
                              <div class="category flat">Du studio au T5</div>
                              <div class="price-box">
                                  <div class="price"><span style="font-size: 0.8rem">À partir de</span> <strong>4 478€ HT</strong></div>
                                  <div class="text">Pack clé en main incluant TOUT le nécessaire pour la location meublée ainsi qu’une décoration soignée par notre service de décoration d’intérieur</div>
                              </div>
                              <ul class="small-ul">
                                <li class="active"><strong>Pack standard</strong>
                                <li class="active"><strong>+</strong></li>
                                <li class="active"><strong>Mobilier et décorations supplémentaires</strong></li>
                                <li class="active"><strong>+</strong></li>
                                <li class="active"><strong> Petit électroménager (TV, bouilloire, grille-pain, cafetière, aspirateur...)</strong></li>
                              </ul>
                          </div>
                          <div class="link-btn">
                            <button type="button" class="theme-btn btn-style-two modal-btn" data-toggle="modal" data-target="#modalConfort"><span>Notre sélection</span></button>
                            <a href="/contacts/new" data-turbolinks="false" class="theme-btn btn-style-one modal-btn mt-3"><span>Établissez votre devis gratuitement</span></a>
                          </div>
                        </div>
                  </div>
                  <div class="col-lg-3 col-md-6 pricing-block">
                      <div class="inner-box height-box">
                          <div class="wrapper-box">
                              <div class="category">Pack sur mesure</div>
                              <div class="icon"><%= cl_image_tag("icons/agenceur_iconePlan_de_travail_50_cpg7xs", :transformation => { :height => 76, :crop => :pad }) %></div>
                              <div class="category flat">Pour tous vos projets</div>
                              <div class="price-box">
                                  <div class="price">Selon devis</div>
                                  <div class="text">Savoir-faire d’un décorateur d’intérieur adapté à vos inspirations et à votre budget.</div>
                              </div>
                              <ul class="big-ul">
                                <li class="active"><strong>RDV avec notre décorateur d'intérieur</strong></li>
                                <li class="active"><strong>Sélection de votre mobilier</strong></li>
                                <li class="active"><strong>Conception de votre cuisine et salle de bain</strong></li>
                                <li class="active"><strong>Accompagnement, organisation et gestion de la réalisation de votre projet clé en main</strong></li>
                              </ul>
                          </div>
                          <div class="link-btn">
                            <a href="/contacts/new" data-turbolinks="false" class="theme-btn btn-style-one modal-btn"><span>Établissez votre devis gratuitement</span></a>
                          </div>
                        </div>
                  </div>
              </div>
          </div>
      </section>

      <!-- Services Section Five -->
      <section class="services-section-five">
          <div class="auto-container">
              <div class="row align-items-center justify-content-center">
                  <div class="left-column col-xl-3">
                      <div class="sec-title style-two">
                          <h2>Nos options</h2>
                          <div class="text mb-40">Parce que chaque projet est unique, vous pouvez adapter l'ensemble de nos packs selon vos attentes. </div>
                      </div>
                  </div>
                  <div class="right-column col-xl-7">
                    <div class="row justify-content-center">
                      <div class="service-block-one">
                          <div class="inner-box wow fadeInUp">
                              <div class="image"><%= cl_image_tag("resource/completez-pack_gthnic", :transformation => { :height => 150, :crop => :fill }) %></div>
                              <div class="content">
                                  <h4>Complétez votre pack...</h4>
                                  <div class="link-btn">
                                    <div class="text">
                                      <ul>
                                        <li>Petit et gros électroménager<a data-toggle='tooltip' data-html="true" title='<strong>Petit électroménager :</strong><br><ul><li>Machine à café</li><li>Bouilloire</li><li>Grille-pain</li><li>Aspirateur</li><li>Pèse-personne</li><li>Fer à repasser</li><li>Table à repasser</li></ul><br><strong>Gros électroménager :</strong><br><ul><li>Hotte aspirante</li><li>Lave-vaisselle</li><li>Four</li><li>Lave-linge</li></ul>'><span class="far fa-lg fa-info-circle ml-1"></span></a></li>
                                        <li>Ménage complet<a data-toggle='tooltip' data-html="true" title='<strong>Ménage complet :</strong><ul><li>Ménage intégral du bien, hors ménage de fin de chantier.</li></ul>'><span class="far fa-lg fa-info-circle ml-1"></span></a></li>
                                        <li>Linge de maison<a data-toggle='tooltip' data-html="true" title='<strong>Linge de maison :</strong><br><ul><li>Drap housse</li><li>Taies d&#39;oreillers</li><li>Housse de couette</li><li>Tapis de bain</li><li>Petite serviette 70x140</li><li>Grande serviette 100x150</li></ul>'><span class="far fa-lg fa-info-circle ml-1"></span></a></li>
                                        <li>Mobilier extérieur (balcon/terrasse)<a data-toggle='tooltip' data-html="true" title='<strong>Mobilier extérieur :</strong><ul><li>Table et chaises.</li></ul>'><span class="far fa-lg fa-info-circle ml-1"></span></a></li>
                                        <li>Réalisation de photos<a data-toggle='tooltip' data-html="true" title='<strong>Réalisation de photos:</strong><ul><li>Photos réalisées par notre photographe professionnel spécialisé dans l&#39;immobilier, pour donner à vos biens plus de visibilité sur les plateformes.</li></ul>'><span class="far fa-lg fa-info-circle ml-1"></span></a></li>
                                      </ul>
                                  </div>
                              </div>
                          </div>
                        </div>
                      </div>
                      <div class="service-block-one">
                          <div class="inner-box wow fadeInUp">
                              <div class="image"><%= cl_image_tag("resource/allegez-pack_g7hchw", :transformation => { :height => 150, :crop => :fill }) %></div>
                              <div class="content">
                                  <h4>Allégez votre pack...</h4>
                                  <div class="link-btn">
                                    <div class="text">
                                      <ul>
                                        <li>Vous souhaitez rester autonome ?</li>
                                        <li>Bénéficiez de nos packs sans</li>
                                        <li>la prestation de montage.</li>
                                        <li>Nous vous livrons chez vous !<a data-toggle='tooltip' data-html="true" title='<strong>Livraison seule :</strong><br><ul><li>Profitez de la prestation livraison seule au pied de l&#39;immeuble ou en étage sur votre palier, à vous de décider.</li></ul>'><span class="far fa-lg fa-info-circle ml-1"></span></a></li>
                                      </ul>
                                    </div>
                                  </div>
                                  <br><br>
                              </div>
                          </div>
                      </div>
                    </div>
                  </div>
              </div>
          </div>
      </section>

      <!-- Contact Section -->
      <section class="contact-section">
          <div class="sec-bg"></div>
          <div class="auto-container">
            <div class="row justify-content-end">
                <div class="col-lg-6 encart-contact">
                    <div class="contact-form-area">
                        <div class="sec-title small">
                            <span class="sec-title-dec-two"></span>
                            <h2>Quel que soit votre bien, <br>nous aurons toujours une <br>offre pour vous simplifier <br>la vie </h2>
                            <div class="link-box">
                              <a href="/contacts/new" data-turbolinks="false" class="theme-btn btn-style-two light"><span>ÉTABLISSEZ VOTRE DEVIS GRATUITEMENT</span></a>
                            </div>
                          </div>
                    </div>
                </div>
            </div>
          </div>
      </section>

      <!-- Main Footer -->
      <%= render 'shared/footer' %>

  </div>
  <!--End pagewrapper-->

  <!--Scroll to top-->
  <%= render 'shared/scroll-to-top' %>
  <%= render 'shared/modal-offers' %>
