<div class="page-wrapper">
    <!-- Preloader -->
    <%= render 'shared/preloader' %>

    <!-- Main Header -->
    <%= render 'shared/main-header' %>
    <!-- End Main Header -->

    <!-- Bnner Section -->
    <section class="banner-section">
        <div class="swiper-container banner-slider">
            <div class="swiper-wrapper disabled">
                <!-- Slide Item -->
                <div class="swiper-slide slide-1">
                    <div class="content-outer">
                        <div class="content-box">
                            <div class="inner">
                                <div class="text">Investisseurs et particuliers, simplifiez-vous la vie !</div>
                                <h1>Découvrez nos offres d'ameublement qui s'incluent dans votre prêt immobilier</h1>
                                <div class="link-box">
                                    <a href="#en-savoir-plus" data-turbolinks="false" data-wow-duration="1500ms" class="theme-btn btn-style-two light"><span>EN SAVOIR PLUS</span></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- End Bnner Section -->


    <!-- Process Section -->
    <section class="working-process-section bg-1" id="en-savoir-plus">
        <h1 class="big-title">L'Agenceur</h1>
        <div class="auto-container">
            <div class="sec-title text-center light">
                <span class="sec-title-dec"></span>
                <div class="subtitle-text">À propos de nous</div>
                <h2 class="dark">L'Agenceur Lyonnais s'occupe de tout</h2>
                <div class="process-subtext">Simplifiez-vous la vie et obtenez une idée claire des services que notre équipe commerciale peut vous fournir. <br />Que vous soyez un professionnel, un investisseur ou un particulier, l'Agenceur Lyonnais prend en charge l'intégralité de la logistique<br /> allant de la sélection du mobilier, jusqu'à l'installation finale. Elle est pas belle la vie ?</div>
            </div>
            <div class="container">
              <div class="row">
                  <div class="process-block col-lg-4">
                      <div class="inner-box wow fadeInLeft" data-wow-duration="1500ms">
                          <div class="icon"><%= cl_image_tag("icons/agenceur_iconePlan_de_travail_36_sljdoe") %></div>
                          <div class="content">
                              <div class="count">1<span>.</span></div>
                              <h4>Faites une demande<br /> de devis</h4>
                          </div>
                          <div class="count-text">Après un recensement de vos besoins,<br /> nous serons en mesure de vous envoyer<br /> un devis adapté à vos attentes.</div>
                      </div>
                  </div>
                  <div class="process-block col-lg-4">
                      <div class="inner-box">
                          <div class="icon"><%= cl_image_tag("icons/agenceur_iconePlan_de_travail_38_k7cwpi") %></div>
                          <div class="content">
                              <div class="count">2<span>.</span></div>
                              <h4>Nous validons votre<br /> devis</h4>
                          </div>
                          <div class="count-text">Dès réception du paiement (par virement ou chèque), nous <br />passons votre commande en production.</div>
                      </div>
                  </div>
                  <div class="process-block col-lg-4">
                      <div class="inner-box wow fadeInRight" data-wow-duration="1500ms">
                          <div class="icon"><%= cl_image_tag("icons/agenceur_iconePlan_de_travail_58_csq9wy") %></div>
                          <div class="content">
                              <div class="count">3<span>.</span></div>
                              <h4>Nous planifions une<br /> date d'intervention</h4>
                          </div>
                          <div class="count-text">Nous vous contacterons au plus vite<br /> pour se donner rendez-vous.</div>
                      </div>
                  </div>
              </div>
              <div class="row justify-content-center">
                  <div class="col-lg-5 process-block">
                      <div class="inner-box wow fadeInLeft" data-wow-duration="1500ms">
                          <div class="icon"><%= cl_image_tag("icons/agenceur_iconePlan_de_travail_40_habsjv") %></div>
                          <div class="content">
                              <div class="count">4<span>.</span></div>
                              <h4>Nous récupérons<br /> vos clés</h4>
                          </div>
                          <div class="count-text">À partir de ce moment-là, vous<br /> n'avez plus à rien faire !</div>
                      </div>
                  </div>
                  <div class="col-lg-5 process-block">
                      <div class="inner-box">
                          <div class="icon"><%= cl_image_tag("icons/agenceur_iconePlan_de_travail_56_ztrknr") %></div>
                          <div class="content">
                              <div class="count">5<span>.</span></div>
                              <h4>Nous nous chargeons<br /> de tout !</h4>
                          </div>
                          <div class="count-text">Chargement, livraison, montage, reprise<br /> des emballages, ménage... jusqu'à la<br /> réalisation de photos pour que votre bien soit mis en valeur.</div>
                      </div>
                  </div>
              </div>
            </div>
          </div>
    </section>


    <!-- About Us Section Four -->
    <section class="about-us-section-four bg-2">
        <div class="shape-one"></div>
        <div class="auto-container">
            <div class="row">
                <div class="col-lg-6">
                    <div class="content wow fadeInLeft">
                        <h4 class="subtitle">Notre valeur ajoutée</h4>
                        <h2>Incluez notre offre dans<br /> votre prêt immobilier</h2>
                        <div class="text">Bénéficiez de nos packs clé en main comprenant tout le<br /> nécessaire obligatoire pour vous permettre d’être éligible à<br />la location meublée.</div>
                        <div class="text">Incluez nos packs dans votre crédit immobilier grâce à<br /> nos devis et factures qui interviennent en tant que prestation<br />d’aménagement d’intérieur.
                        <br /><br />Conservez ainsi votre cashflow !</div>
                        <div class="link-btn"><a href="/qui-sommes-nous" data-turbolinks="false" class="theme-btn btn-style-two"><span>En savoir plus sur l'Agenceur Lyonnais</span></a></div>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="image-block wow fadeInRight">
                        <div class="image"><%= cl_image_tag("resource/image-43_pdg16s") %></div>
                    </div>
                </div>
            </div>
        </div>
    </section>


    <!-- Pricing section -->
    <section class="pricing-section style-two">
        <div class="auto-container">
            <div class="sec-title text-center">
                <div class="shape-one"></div>
                <span class="sec-title-dec"></span>
                <h4 class="subtitle">Nos offres</h4>
                <h2>Nos services pour la mise en location</h2>
                <div class="text">Nos prestations sont réalisées par nos équipes formées et expérimentées</div>
            </div>
            <div class="row">
                <div class="col-lg-3 pricing-block">
                    <div class="inner-box height-box">
                        <div class="wrapper-box">
                            <div class="icon"><%= cl_image_tag("icons/agenceur_iconePlan_de_travail_52_n4mnvn", :transformation => { :height => 76, :crop => :fill }) %></div>
                            <div class="category">Pack standard</div>
                            <div class="price-box">
                                <div class="price"><span style="font-size: 0.8rem">À partir de</span> <strong>2 600€</strong></div>
                                <div class="text">vous permet d'être éligible à la location meublée</div>
                            </div>
                            <ul>
                              <li class="active"><strong>Aménagement du bien</strong> <br>Mobilier obligatoire pour être éligible à la location meublée<br /><br /> Nous assurons l'ensemble de la logistique, transport, déchargement, montage et évacuation des déchets.</li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 pricing-block">
                    <div class="inner-box height-box">
                        <div class="wrapper-box">
                            <div class="icon"><%= cl_image_tag("icons/agenceur_iconePlan_de_travail_46_rzijka", :transformation => { :height => 76, :crop => :fill }) %></div>
                            <div class="category">Pack confort</div>
                            <div class="price-box">
                                <div class="price"><span style="font-size: 0.8rem">À partir de</span> <strong>3 600€</strong></div>
                                <div class="text">bénéficiez d'une décoration élégante et étudiée</div>
                            </div>
                            <ul>
                              <li class="active"><strong>Pack standard</strong> <br><br><strong>+</strong><br><br> <strong>Mobilier et petit électroménager</strong><br>TV, bouilloire, grille pain, cafetière, aspirateur...</li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 pricing-block">
                    <div class="inner-box height-box">
                        <div class="wrapper-box">
                            <div class="icon"><%= cl_image_tag("icons/agenceur_iconePlan_de_travail_48_zilpkv", :transformation => { :height => 76, :crop => :fill }) %></div>
                            <div class="category">Pack étudiant</div>
                            <div class="price-box">
                                <div class="price">Selon devis</div>
                                <div class="text">Aidez vos étudiants à s'installer plus sereinement</div>
                            </div>
                            <ul>
                              <li class="active"><strong>Aménagement du bien</strong> <br>Mobilier de grande enseigne ainsi que tout le nécessaire pour habiter le bien dès la fin de notre prestation.<br /><br /> Profitez pleinement de votre temps libre pour aider vos étudiants dans leurs démarches d'inscription.</li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 pricing-block">
                    <div class="inner-box">
                        <div class="wrapper-box">
                            <div class="icon"><%= cl_image_tag("icons/agenceur_iconePlan_de_travail_50_cpg7xs", :transformation => { :height => 76, :crop => :pad }) %></div>
                            <div class="category">Pack sur mesure</div>
                            <div class="price-box">
                                <div class="price">Selon devis</div>
                                <div class="text">bénéficiez de la réalisation de projet clé en main</div>
                            </div>
                            <ul>
                              <li class="active"><strong>RDV avec notre décorateur d'intérieur</strong> <br><br><strong>-</strong><br><br> <strong>Sélection de votre mobilier</strong><br><br>-<br><br><strong>Conception de votre cuisine et salle de bain</strong><br><br>-<br><br><strong>Accompagnement, organisation et gestion de la réalisation de votre projet clé en main</strong></li>
                            </ul>
                        </div>
                      </div>
                </div>
            </div>
        </div>
    </section>

    <!-- Services Section Five -->
    <section class="services-section-five">
        <div class="auto-container">
            <div class="row align-items-center justify-content-center">
                <div class="left-column col-xl-3">
                    <div class="sec-title style-two">
                        <h2>Nos options</h2>
                        <div class="text mb-40">Parce que chaque projet est unique, vous pouvez adapter l'ensemble de nos packs selon vos attentes. </div>
                    </div>
                </div>
                <div class="right-column col-xl-7">
                  <div class="row justify-content-center">
                    <div class="service-block-one">
                        <div class="inner-box wow fadeInUp">
                            <div class="image"><%= cl_image_tag("resource/completez-pack_gthnic") %></div>
                            <div class="content">
                                <h4>Complétez votre pack...</h4>
                                <div class="link-btn"><div class="text">Petits et gros électroménager <br>Ménage complet <br>Linge de maison <br>Mobilier extérieur (Balcon/terrasse) <br>Réalisation de photos</div></div>
                            </div>
                        </div>
                    </div>
                    <div class="service-block-one">
                        <div class="inner-box wow fadeInUp">
                            <div class="image"><%= cl_image_tag("resource/allegez-pack_g7hchw") %></div>
                            <div class="content">
                                <h4>Allégez votre pack...</h4>
                                <div class="link-btn"><div class="text">Vous souhaitez rester autonome ? <br>Bénéficiez de nos packs sans <br>la prestation de montage. <br>Nous vous livrons chez vous ! <br><br></div></div>
                            </div>
                        </div>
                    </div>
                  </div>
                </div>
            </div>
        </div>
    </section>

    <!-- Contact Section -->
    <section class="contact-section">
        <div class="sec-bg"></div>
        <div class="auto-container">
          <div class="row justify-content-end">
              <div class="col-lg-6 encart-contact">
                  <div class="contact-form-area">
                      <div class="sec-title small">
                          <span class="sec-title-dec-two"></span>
                          <h2>Quel que soit votre bien, <br>nous aurons toujours une <br>offre pour vous simplifier <br>la vie </h2>
                          <div class="link-box">
                            <a href="/contacts/new" data-turbolinks="false" class="theme-btn btn-style-two light"><span>CONTACTEZ-NOUS POUR ÉTABLIR UN DEVIS</span></a>
                          </div>
                        </div>
                  </div>
              </div>
          </div>
        </div>
    </section>

    <!-- Main Footer -->
    <%= render 'shared/footer' %>

</div>
<!--End pagewrapper-->

<!--Scroll to top-->
<%= render 'shared/scroll-to-top' %>
