<%= content_for :meta_title, "L'Agenceur Lyonnais - Entreprise familiale d'aménagement d'intérieur" %>
<%= content_for :meta_description, "L'Agenceur Lyonnais est votre partenaire locatif pour meubler tous vos biens à Lyon et sa région. Nous nous chargeons de tout : de la sélection au montage final chez vous..." %>

<div class="page-wrapper">
  <!-- Preloader -->
    <%= render 'shared/preloader' %>

    <!-- Main Header -->
    <%= render 'shared/main-header' %>
    <!-- End Main Header -->

    <!-- Page Title -->
    <section class="page-title" style="background-image: url(https://res.cloudinary.com/dri5sbvqn/image/upload/v1597252197/about-slider_p1r6es.png)">
        <div class="auto-container">
            <div class="content-box">
                <div class="content-wrapper">
                  <div class="title">
                    <div class="text">Nous sommes...</div>
                    <h1>L'Agenceur Lyonnais</h1>
                  </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Page Title -->

    <!-- About Section Five -->
    <section class="about-us-section-five">
        <div class="auto-container">
            <div class="row align-items-center">
                <div class="col-lg-6">
                    <div class="image-block wow fadeInRight">
                        <div class="image"><%= cl_image_tag("resource/family_qausll") %></div>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="content wow fadeInLeft">
                        <h4>Qui sommes-nous</h4>
                        <h2><strong>L'Agenceur Lyonnais</strong></h2>
                        <span class="subtitle-proximité">Votre entreprise familiale d'aménagement d'intérieur</span>
                        <div class="text mt-2">
                          <p>C'est l'histoire de 3 frères nés dans les années 80 qui ont grandi en banlieue lyonnaise dans une maison en perpétuelle évolution. Et trente et quelques années plus tard, ils ont décidé d'unir leurs TROIS forces, TROIS personnalités, TROIS expériences professionnelles pour créer UN CONCEPT UNIQUE dans l'aménagement d'intérieur : <strong>L’AGENCEUR LYONNAIS s'occupe de TOUT !</strong></p>
                          <p>Notre objectif : Proposer un service de qualité pour <strong>nos clients (professionnels et particuliers)</strong> qui souhaitent meubler leurs biens sans contraintes.</p>
                          <p>Comment : En proposant du mobilier tendance qui s'adapte au plus grand nombre.</p>
                        </div>
                    </div>
                </div>
            </div>
            <blockquote><span class="left">“</span>L'ensemble de nos prestations est <br>réalisé par nos équipes <br>formées et expérimentées <span class="right">”</span></blockquote>
        </div>
    </section>

    <!-- About Section Six -->
    <section class="about-section-six">
        <div class="auto-container">
            <div class="row align-items-center">
                <div class="col-lg-6">
                    <div class="sec-title style-two light m-0">
                        <h2>L'Agenceur Lyonnais</h2>
                        <span class="valeurajoutee-subtitle">Nos valeurs ajoutées</span>
                    </div>
                    <div class="tab-box">
                        <ul class="nav nav-tabs tab-btn-style-one mr-md-4" role="tablist">
                            <li class="nav-item">
                                <a class="nav-link active" id="tab-one-area" data-toggle="tab" href="#tab-one" role="tab" aria-controls="tab-one" aria-selected="true">Inclus dans votre prêt
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" id="tab-two-area" data-toggle="tab" href="#tab-two" role="tab" aria-controls="tab-two" aria-selected="false">
                                    Aucun effort
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" id="tab-three-area" data-toggle="tab" href="#tab-three" role="tab" aria-controls="tab-three" aria-selected="false">
                                    Bien sublimé
                                </a>
                            </li>
                        </ul>
                        <!-- Tab panes -->
                        <div class="tab-content wow fadeInUp" data-wow-delay="200ms" data-wow-duration="1200ms">
                            <div class="tab-pane fadeInUp animated active" id="tab-one" role="tabpanel" aria-labelledby="tab-one">
                                <div class="text bold">Incluez notre offre dans votre prêt immobilier :</div>
                                <ul>
                                  <li><i class="fas fa-arrow-right"></i> Incluez notre offre dans votre prêt immobilier <a tabindex="0" data-toggle="popover" role="button" data-trigger="hover" data-html="true" data-content="<p>*Nos devis et factures interviennent en tant que prestation d’aménagement d’intérieur ce qui les rend finançables.</p><ul><li><strong>Etape N°1</strong> : Demandez-nous un devis afin de le soumettre à votre banque.</li><li><strong>Etape N°2</strong> : Dès acceptation, nous vous adresserons notre facture afin que vous puissiez soit nous régler, soit demander à votre banque qu’elle nous règle directement.</li></ul>"><span class="far fa-md fa-info-circle"></span></a></li>
                                  <li><i class="fas fa-arrow-right"></i> Déduisez fiscalement notre facture de vos impôts si vous êtes Loueur Meublé Non Professionnel <a tabindex="0" data-toggle="popover" role="button" data-trigger="hover" data-html="true" data-content="<p>*Pour être Loueur Meublé Non Professionnel, votre bien immobilier doit être <strong>loué meublé (lit, canapé, etc)</strong> et vous devez <strong>déclarer cette activité auprès du Greffe correspondant à l'adresse de votre bien </strong> en optant pour le régime réel.</p><p>De cette manière, vous pourrez <strong>déduire notre facture ainsi que toutes les charges</strong> (intérêts emprunts, taxes, travaux, frais de syndic et amortissement du bien).</p>"><span class="far fa-md fa-info-circle"></span></a></li>
                                  <li><i class="fas fa-arrow-right"></i> Gagnez du temps et de l’argent tout en conservant votre épargne #cashflow <a tabindex="0" data-toggle="popover" role="button" data-trigger="hover" data-html="true" data-content="<p>*Il ne faut pas moins de 70 heures toutes étapes confondues pour aménager un bien dans son intégralité !</p><p><span class='steps-amenagement'>Commande ▸ entreposage ▸ transport ▸ chargement ▸ livraison ▸ déchargement ▸ montage des meubles ▸ agencement ▸ décoration ▸ évacuation des déchets ▸ nettoyage.</span></p><p>Libérez-vous du temps pour d’autres investissements à réaliser, ou tout simplement passer du temps avec vos proches 🙂</p>"><span class="far fa-md fa-info-circle"></span></a></li>
                                </ul>
                            </div>
                            <div class="tab-pane fadeInUp animated" id="tab-two" role="tabpanel" aria-labelledby="tab-two">
                                <div class="text">Notre équipe s'occupe de tout : </div>
                                <ul>
                                    <li><i class="fas fa-arrow-right"></i> De la sélection du mobilier à l'agencement de votre bien dans son intégralité, L’Agenceur Lyonnais vous garantit un aménagement sans encombre.</li>
                                    <li><i class="fas fa-arrow-right"></i> Meubler vos biens n’aura jamais été aussi simple</li>
                                </ul>
                            </div>
                            <div class="tab-pane fadeInUp animated" id="tab-three" role="tabpanel" aria-labelledby="tab-three">
                                <ul>
                                    <li><i class="fas fa-arrow-right"></i> Nos prestations vous permettront de vous démarquer des autres biens du marché afin de louer plus rapidement.</li>
                                    <li><i class="fas fa-arrow-right"></i> Nos décorateurs d’intérieurs sélectionnent pour vous du mobilier tendance et une décoration soignée adaptés au plus grand nombre.</li>
                                    <li><i class="fas fa-arrow-right"></i> Notre photographe professionnel, spécialisé dans l'immobilier, réalisera des clichés qui vous garantiront une meilleure attractivité de votre annonce sur les plateformes.</li>
                                    <li><i class="fas fa-arrow-right"></i> Regardez votre bien se transformer en un lieu chaleureux prêt à accueillir ses nouveaux occupants.</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="single-image-carousel">
                        <div class="swiper-wrapper">
                            <div class="swiper-slide">
                                <div class="image"><%= cl_image_tag('resource/valeurajoutee-image-1_v0scpy') %></div>
                            </div>
                            <div class="swiper-slide">
                                <div class="image"><%= cl_image_tag('resource/valeurajoutee-image-2_dbemme') %></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- Projects Section Two -->
    <section class="projects-section-two style-two">
        <div class="sec-bg"></div>
        <h1 class="big-title">Réalisations</h1>
        <div class="auto-container">
            <div class="sec-title text-center">
                <div class="sec-title-dec"></div>
                <div class="subtitle-text">Nos réalisations</div>
                <h2>L'Agenceur Lyonnais</h2>
            </div>
            <!--Project Tabs-->

                <!--Tabs Content-->
                    <!--Project Tab / Active Tab-->
              <div class="theme_carousel owl-theme owl-carousel" data-options='{"loop": true, "margin": 0, "autoheight":true, "lazyload":true, "nav": true, "dots": true, "autoplay": true, "autoplayTimeout": 10000, "smartSpeed": 250, "responsive":{ "0" :{ "items": "1" }, "600" :{ "items" : "1" }, "768" :{ "items" : "1" } , "992":{ "items" : "1" }, "1200":{ "items" : "1" }}}'>
                  <div class="slide-item">
                      <div class="project-block-two">
                          <div class="inner-box real">
                              <div class="image"><%= cl_image_tag('realisations/sophie_lyon_cyvznt_copie_vruoat', :transformation => { :width => 925, :height => 418, :crop => :fill }) %></div>
                              <div class="content">
                                  <div class="center-box">
                                      <h4>T1 de Sophie
                                      <br>Lyon <span class="minify-font">3ème Arr.</span></h4>
                                      <div class="text">Réalisation d'un pack sur-mesure pour un T1 de 45 m² sur le secteur de Montchat 69003 Lyon.</div>
                                  </div>
                              </div>
                          </div>
                      </div>
                  </div>
                  <div class="slide-item">
                      <div class="project-block-two">
                          <div class="inner-box real">
                              <div class="image"><%= cl_image_tag('realisations/real-2_h8sa9z_copie_gb7cq2', :transformation => { :width => 925, :height => 418, :crop => :fill }) %></div>
                              <div class="content">
                                  <div class="center-box">
                                      <h4>T3 d'Emma
                                      <br>Lyon <span class="minify-font">4ème Arr.</span></h4>
                                      <div class="text">Réalisation d’un pack sur-mesure, pour un T3 en duplex de 65 m² sur le plateau de la Croix-Rousse 69004 Lyon.</div>
                                  </div>
                              </div>
                          </div>
                      </div>
                  </div>
                  <div class="slide-item">
                      <div class="project-block-two">
                          <div class="inner-box real">
                              <div class="image"><%= cl_image_tag('realisations/real-3_ozcs3n_copie_spdhbx', :transformation => { :width => 925, :height => 418, :crop => :fill }) %></div>
                              <div class="content">
                                  <div class="center-box">
                                      <h4>T4 de Maxime
                                      <br>Lyon <span class="minify-font">5ème Arr.</span></h4>
                                      <div class="text">Réalisation d’un pack sur-mesure, pour une colocation dans un T4 de 80 m² sur le secteur du Point du Jour 69005 Lyon</div>
                                  </div>
                              </div>
                          </div>
                      </div>
                  </div>
                  <div class="slide-item">
                      <div class="project-block-two">
                          <div class="inner-box real">
                              <div class="image"><%= cl_image_tag('realisations/alexis_villeurbanne_copie_loslte_copie_znvngh', :transformation => { :width => 925, :height => 418, :crop => :fill }) %></div>
                              <div class="content">
                                  <div class="center-box">
                                      <h4>Studio d'Alexis
                                      <br>Lyon <span class="minify-font">3ème Arr.</span></h4>
                                      <div class="text">Réalisation d’un pack sur-mesure pour un studio de 35 m² à deux pas de la Manufacture des Tabacs 69003 Lyon</div>
                                  </div>
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
        </div>
    </section>

    <!-- Contact Section -->
    <section class="contact-section qui-sommes-nous">
        <div class="sec-bg-qui-sommes-nous"></div>
        <div class="auto-container">
          <div class="row justify-content-end">
              <div class="col-lg-6 encart-contact">
                  <div class="contact-form-area">
                      <div class="sec-title small">
                          <span class="sec-title-dec-two"></span>
                          <h2>Quel que soit votre bien, <br>nous aurons toujours une <br>offre pour vous simplifier <br>la vie </h2>
                          <div class="link-box">
                            <a href="/contacts/new" data-turbolinks="false" class="theme-btn btn-style-two light"><span>ÉTABLISSEZ VOTRE DEVIS GRATUITEMENT</span></a>
                          </div>
                        </div>
                  </div>
              </div>
          </div>
        </div>
    </section>
    <!-- Main Footer -->
    <%= render 'shared/footer' %>
</div>

<!--Scroll to top-->
<%= render 'shared/scroll-to-top' %>
