<div class="page-wrapper">
  <!-- Preloader -->
    <%= render 'shared/preloader' %>

    <!-- Main Header -->
    <%= render 'shared/main-header' %>
    <!-- End Main Header -->

    <!-- Page Title -->
    <section class="page-title" style="background-image: url(https://res.cloudinary.com/dri5sbvqn/image/upload/v1597252197/about-slider_p1r6es.png)">
        <div class="auto-container">
            <div class="content-box">
                <div class="content-wrapper">
                  <div class="title">
                    <div class="text">Nous sommes...</div>
                    <h1>L'Agenceur lyonnais</h1>
                  </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Page Title -->

    <!-- About Section Five -->
    <section class="about-us-section-five">
        <div class="auto-container">
            <div class="row align-items-center">
                <div class="col-lg-6">
                    <div class="image-block wow fadeInRight">
                        <div class="image"><%= cl_image_tag("resource/family_qausll") %></div>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="content wow fadeInLeft">
                        <h4>Qui sommes-nous</h4>
                        <h2><strong>L'Agenceur Lyonnais</strong> - <span class="subtitle-proximité">Votre <br> entreprise familiale de proximité</span></h2>
                        <div class="text">C'est l'histoire de 3 frères nés dans les années 80 qui ont grandi en banlieue lyonnaise dans une maison en perpétuelle évolution. Et trente et quelques années plus tard, ils ont décidé d'unir leurs
TROIS forces, TROIS personnalités, TROIS expériences professionnelles pour créer UN CONCEPT UNIQUE dans l'aménagement d'intérieur : <strong>L’AGENCEUR LYONNAIS s'occupe de TOUT !</strong>

Notre objectif : Proposer un service de qualité pour <strong>nos clients</strong> qui souhaitent meubler leurs biens sans contraintes.

Comment : En proposant du mobilier tendance de bon rapport qualité / prix qui s'adaptent au plus grand nombre.</div>
                    </div>
                </div>
            </div>
            <blockquote><span class="left">“</span>L'ensemble de nos prestations sont <br>réalisées par nos équipes <br>formées et expérimentées <span class="right">”</span></blockquote>
        </div>
    </section>

    <!-- About Section Six -->
    <section class="about-section-six">
        <div class="auto-container">
            <div class="row align-items-center">
                <div class="col-lg-6">
                    <div class="sec-title style-two light m-0">
                        <h2>L'Agenceur Lyonnais - <span class="valeurajoutee-subtitle">Notre valeur ajoutée</span></h2>
                    </div>
                    <div class="tab-box">
                        <ul class="nav nav-tabs tab-btn-style-one mr-md-4" role="tablist">
                            <li class="nav-item">
                                <a class="nav-link active" id="tab-one-area" data-toggle="tab" href="#tab-one" role="tab" aria-controls="tab-one" aria-selected="true">Inclus dans votre prêt
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" id="tab-two-area" data-toggle="tab" href="#tab-two" role="tab" aria-controls="tab-two" aria-selected="false">
                                    Aucun effort
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" id="tab-three-area" data-toggle="tab" href="#tab-three" role="tab" aria-controls="tab-three" aria-selected="false">
                                    Bien sublimé
                                </a>
                            </li>
                        </ul>
                        <!-- Tab panes -->
                        <div class="tab-content wow fadeInUp" data-wow-delay="200ms" data-wow-duration="1200ms">
                            <div class="tab-pane fadeInUp animated active" id="tab-one" role="tabpanel" aria-labelledby="tab-one">
                                <div class="text">Incluez nos packs meubles dans votre prêt immobilier et <br>déduisez également nos factures de vos impôts. </div>
                                <ul>
                                    <li><i class="fas fa-arrow-right"></i>Sublimez votre bien grâce à une décoration soignée</li>
                                    <li><i class="fas fa-arrow-right"></i>Louez votre bien plus rapidement</li>
                                    <li><i class="fas fa-arrow-right"></i>Différenciez-vous des autres biens</li>
                                </ul>
                            </div>
                            <div class="tab-pane fadeInUp animated" id="tab-two" role="tabpanel" aria-labelledby="tab-two">
                                <div class="text">Notre service comprend l’achat des meubles, accessoires et décorations, ainsi que l'entreposage, la livraison et l'installation de l’intégralité de votre bien. Pour être plus clair, après avoir passé commande de votre mobilier auprès de nos fournisseurs partenaires, notre équipe s'occupe de tout : </div>
                                <ul>
                                    <li><i class="fas fa-arrow-right"></i>Elle s'assurera que la qualité est conforme aux normes et ainsi pouvoir livrer, déballer et assembler vos nouveaux articles.</li>
                                    <li><i class="fas fa-arrow-right"></i>Regardez votre bien se transformer en un lieu prêt à accueillir ses nouveaux occupants.</li>
                                </ul>
                            </div>
                            <div class="tab-pane fadeInUp animated" id="tab-three" role="tabpanel" aria-labelledby="tab-three">
                                <ul>
                                    <li><i class="fas fa-arrow-right"></i>Nos prestations vous permettront de vous démarquer des autres biens du marché et ainsi vous permettre de louer plus rapidement.</li>
                                    <li><i class="fas fa-arrow-right"></i>Nos décorateurs d’intérieurs sélectionnent pour vous du mobilier tendance et de la décoration soignée qui saura s’adapter au plus grand nombre. </li>
                                    <li><i class="fas fa-arrow-right"></i>Les réalisations par notre photographe professionnel spécialisé dans l'immobilier garantiront une grande visibilité sur les plateformes.</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="single-image-carousel">
                        <div class="swiper-wrapper">
                            <div class="swiper-slide">
                                <div class="image"><%= cl_image_tag('resource/valeurajoutee-image-1_v0scpy') %></div>
                            </div>
                            <div class="swiper-slide">
                                <div class="image"><%= cl_image_tag('resource/valeurajoutee-image-2_dbemme') %></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- Projects Section Two -->
    <section class="projects-section-two style-two">
        <div class="sec-bg"></div>
        <h1 class="big-title">Réalisations</h1>
        <div class="auto-container">
            <div class="sec-title text-center">
                <div class="sec-title-dec"></div>
                <div class="subtitle-text">Nos réalisations</div>
                <h2>L'Agenceur Lyonnais - <span class="partenaire-locatif">Votre partenaire locatif</span></h2>
            </div>
            <!--Project Tabs-->

                <!--Tabs Content-->
                    <!--Project Tab / Active Tab-->
              <div class="theme_carousel owl-theme owl-carousel" data-options='{"loop": true, "margin": 0, "autoheight":true, "lazyload":true, "nav": true, "dots": true, "autoplay": true, "autoplayTimeout": 6000, "smartSpeed": 1000, "responsive":{ "0" :{ "items": "1" }, "600" :{ "items" : "1" }, "768" :{ "items" : "1" } , "992":{ "items" : "1" }, "1200":{ "items" : "1" }}}'>
                  <div class="slide-item">
                      <div class="project-block-two">
                          <div class="inner-box">
                              <div class="image"><%= cl_image_tag('resource/project-image-2_bx4arf') %></div>
                              <div class="content">
                                  <div class="center-box">
                                      <h4>T2 de Sophie - Lyon <span class="minify-font">7ème Arr.</span></h4>
                                      <div class="text">Beyond more stoic this along goodness <br>this sed wow manatee mongos flusterd <br> impressive duman farcrud opened inside <br> owin punitively around after.</div>
                                  </div>
                              </div>
                          </div>
                      </div>
                  </div>
                  <div class="slide-item">
                      <div class="project-block-two">
                          <div class="inner-box">
                              <div class="image"><%= cl_image_tag('resource/project-image-2_bx4arf') %></div>
                              <div class="content">
                                  <div class="center-box">
                                      <h4>T2 de Sophie - Lyon <span class="minify-font">7ème Arr.</span></h4>
                                      <div class="text">Beyond more stoic this along goodness <br>this sed wow manatee mongos flusterd <br> impressive duman farcrud opened inside <br> owin punitively around after.</div>
                                  </div>
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
        </div>
    </section>

    <!-- Contact Section -->
    <section class="contact-section qui-sommes-nous">
        <div class="sec-bg-qui-sommes-nous"></div>
        <div class="auto-container">
          <div class="row justify-content-end">
              <div class="col-lg-6 encart-contact">
                  <div class="contact-form-area">
                      <div class="sec-title small">
                          <span class="sec-title-dec-two"></span>
                          <h2>Quelque soit votre bien, <br>nous aurons toujours une <br>offre pour vous simplifier <br>la vie </h2>
                          <div class="link-box">
                            <a href="/contacts/new" data-turbolinks="false" class="theme-btn btn-style-two light"><span>CONTACTEZ-NOUS POUR ÉTABLIR UN DEVIS</span></a>
                          </div>
                        </div>
                  </div>
              </div>
          </div>
        </div>
    </section>
    <!-- Main Footer -->
    <%= render 'shared/footer' %>
</div>

<!--Scroll to top-->
<%= render 'shared/scroll-to-top' %>
