<%= content_for :meta_title, "L'Agenceur Lyonnais - Demandez un devis pour un pack d'ameublement" %>
<%= content_for :meta_description, "Contactez l'Agenceur Lyonnais pour en savoir plus sur notre offre d'ameublement d'intérieur à Lyon et sa région." %>

<div class="page-wrapper">
    <!-- Preloader -->
    <%= render 'shared/preloader' %>

    <!-- Main Header -->
    <%= render 'shared/main-header' %>
    <!-- End Main Header -->

    <!-- Page Title -->
    <section class="page-title contact">
        <div class="auto-container">
            <div class="content-box">
                <div class="content-wrapper">
                  <div class="title">
                    <h1>Contactez-nous pour établir votre devis</h1>
                  </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Page Title -->

        <!-- Contact Section -->
    <section class="contact-section style-two">
        <div class="auto-container">
            <div class="contact-info-three">
                <div class="row">
                    <div class="col-lg-4">
                        <div class="content">
                            <div class="icon"><%= cl_image_tag("icons/agenceur_iconePlan_de_travail_56_ztrknr") %></div>
                            <h4>Équipe de professionnels</h4>
                            <div class="text">Nous soignons notre travail, et rigueur est notre maître-mot</div>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="content">
                            <div class="icon"><%= cl_image_tag("icons/agenceur_iconePlan_de_travail_58_csq9wy") %></div>
                            <h4>Respect des délais</h4>
                            <div class="text">Nous nous engageons à respecter tout délai imparti</div>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="content">
                            <div class="icon"><%= cl_image_tag("icons/agenceur_iconePlan_de_travail_60_o4tyuu") %></div>
                            <h4>Service client inégalé</h4>
                            <div class="text">Nous vous répondrons dans les plus brefs délais.</div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="wrapper-box mb-30">
                <div class="row">
                    <div class="col-lg-5">
                        <div class="image"><%= cl_image_tag("background/base_s0vdgv") %></div>
                    </div>
                    <div class="col-lg-7">
                        <div class="contact-form-area">
                            <div class="sec-title small">
                                <span class="sec-title-dec-two"></span>
                                <h2>Vous avez un projet d'investissement immobilier ?</h2>
                                <div class="contact-subtext">Transmettez-nous votre demande en remplissant le formulaire de contact ci-dessous, et notre équipe vous contactera dans les 48 heures (jours ouvrés).</div>
                            </div>
                            <%= render 'shared/contact-form' %>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- Main Footer -->
    <%= render 'shared/footer' %>
</div>

<!--Scroll to top-->
<%= render 'shared/scroll-to-top' %>
